* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace !important;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: black;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* header */

.header-container {
  z-index: 100;
  position: fixed;
  width: 100%;
  color: whitesmoke;
  background-color: #151922;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  line-height: 8vh;
}

.header-container h1 {
  margin-block: 5px;
  font-size: 5vh;
}

.header-nav a {
  padding-inline: 3px;
  text-decoration: none;
  color: #eee;
}

.header-nav a:hover {
  color: black;
  transition: 0.3s;
  background-color: whitesmoke;
  padding-block: 18px;
}

/* main */

main {
  margin-top: 50px;
}

.main-container {
  padding-block: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.main-container img {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}

.main-container h1 {
  font-size: 7vh;
  letter-spacing: 0.15em;
  padding-block: 20px;
}

.main-container p {
  margin-inline: 30vh;
}

.main-container h2 {
  letter-spacing: 0.25em;
}

/* footer */

.footer-container {
  margin-top: 40px;
  background-color: #151922;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  gap: 50px;
}

footer img {
  filter: invert();
}

#insta-icon {
  margin-top: 2px;
}
