* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace !important;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: black;
  background-color: whitesmoke;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* header */

.header-top {
  z-index: 100;
  position: fixed;
  width: 100%;
  color: whitesmoke;
  background-color: #151922;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  line-height: 8vh;
}

.header-top h1 {
  margin-block: 5px;
  font-size: 5vh;
}

.header-nav a {
  padding-inline: 3px;
  text-decoration: none;
  color: #eee;
}

.header-nav a:hover {
  color: black;
  transition: 0.3s;
  background-color: whitesmoke;
  padding-block: 18px;
}

/* header-mid */

.header-mid {
  padding-top: 50px;
}

.header-mid-content {
  display: grid;
  padding: 50px 80px;
  grid-template-columns: 60% 40%;
}

.header-mid-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 30px;
  font-size: 19px;
}

.header-mid-left h1 {
  font-size: 10vh;
  letter-spacing: 0.12em;
}

.header-mid-right {
  display: flex;
  justify-content: right;
}

.header-mid-right-img {
  width: 80%;
}

.header-mid-right img {
  width: 100%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

/* main */

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills,
.ambitions,
.profession {
  color: whitesmoke;
  padding: 40px;
  background-color: #151922;
  width: fit-content;
}

.main-top {
  padding: 30px;
  padding-inline: 80px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.main-top h3 {
  letter-spacing: 0.05em;
}

.main-top p {
  padding-block: 20px;
}

/* about other pages */

.main-mid-content {
  display: flex;
  flex-direction: column;
  margin-inline: 20vh;
}

.main-mid h1 {
  padding-block: 50px;
}

.about-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-pages h3 {
  font-size: 30px;
}

.carousel {
  width: 80vh;
  margin-block: 10px;
}

.carousel img {
  width: 100%;
  height: 50vh;
}

.carousel-inner {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

/* footer */

.footer-container {
  margin-top: 40px;
  background-color: #151922;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  gap: 50px;
}

footer img {
  filter: invert();
}

#insta-icon {
  margin-top: 2px;
}

/* media query */

@media (max-width: 1200px) {
  /* .header-mid-content {
    grid-template-columns: 50% 50%;
  } */
  .header-mid-left {
    font-size: 17px;
  }
  .header-mid-left h1 {
    font-size: 8vh;
  }

  .header-nav a {
    padding-inline: 0;
  }

  .main-top {
    gap: 20px;
  }
  .skills,
  .ambitions,
  .profession {
    padding: 20px;
  }
}
